/* index.html */
.index-container {
    background-color: lightcoral;
}

#title {
    text-align: center;
    color: cadetblue;
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    display: flex;
    justify-content: space-between;

}

.nav-item {
   /* border: 1px solid white;  debugging purposes */
    height: 40px;
    padding: 10px;
    padding-top: 10px;
}

.nav-one, .nav-two, .nav-three {
    text-decoration: none;
}

.nav-one {
    background-color: lawngreen;
    flex: 1;
    text-align: center;
}

.nav-two {
    background-color: aqua;
    flex: 1;
    text-align: center;
}

.nav-three {
    background-color: mediumpurple;
    flex: 1;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container-item {
   /* border: 1px solid white;  debugging */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.first-item {
    width: 28%;
    height: 28%;
    
}

.second-item {
    padding: 10px;
    width: 19%;
    height: 19%;
}

.last-item {
    padding: 10px;
    width: 30%;
    height: 30%;
}

.links {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-style: oblique;
    padding: 10px;
    text-align: center;
    display: flex;
    margin: auto;
}

.container > div {
    padding: 10px;
    text-align: center;
    font-size: 50px;
    color: aquamarine;
}

.container{
    border: 5px solid yellowgreen;
    display: flex;
}

/* lasagna.html */
#header {
    text-align: center;
    color: rgb(224, 111, 70);
    font-size: 64px;
}

.lasagna{
    background-color: rgb(211, 161, 24);
}

.laspic{
    border: 20px solid orangered;
    border-style: dashed;
}

.serving{
    padding: 5px;
    margin-left: 0px;
    margin-top: -10px;
    border: 2px solid black;
    display: inline-block;
}

/* banana-bread.html */
.banana{
    background-color: yellow;
}

.banpic{
    border: 20px solid rgb(96, 192, 96);
    border-top-color: darkslategray;
    border-bottom-color: darkslategray;
    border-style: ridge;
}

.loaf {
    margin-left: -5px;
    margin-top: -10px;
    margin-bottom: -10px;
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
}

/* grilled-cheese.html */
.cheese{
    background-color: rgba(136, 83, 46, 0.774);
}

.grcpic{
    border: 20px solid purple;
    border-bottom-color: blue;
    border-top-color: chartreuse;
    border-left-color: darkorange;
    border-style: dotted;
}

.ingredients, .list {
    padding: 5px;
    display: flex;
}

span, .list {
    border: 1px solid black;
    margin-left: 5px;
}